@import url('https://fonts.googleapis.com/css2?family=Lato');

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
#app {
    font-family: 'Lato', sans-serif; /* Use sans-serif as fallback */
    font-size: 16px; /* Standard font size */
    height: 100%;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

/* Custom HTML & CSS Logo */
#custom-logo {
    font-family: 'Reenie Beanie', cursive;
}

/* Mobile Behavior */
html {
    -webkit-tap-highlight-color: transparent;
}

/* Dark Mode Styles (Tailwind handles this with the dark class) */
/* Use Tailwind's dark mode utilities in your component stylesheets instead */